:root {
    --regular-orange: #ff5e00;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.nav-container {
    padding: 10px 150px;
    background-color: rgb(0, 0, 0, .8);
    backdrop-filter: blur(10px);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;

        button {
            border-radius: 3rem;
            padding: .7rem 2rem;
            font-size: 14px;
            cursor: pointer;
        }

        button:first-child {
            color: white;
            background-color: transparent;
            border: solid 3px white;
        }

        button:last-child {
            background-color: var(--regular-orange);
            border: solid 3px var(--regular-orange);
        }
    }

    img {
        width: 12%;
        height: auto;
    }
}

.nav-container-register {
    padding: 15px 150px;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 16%;
        height: auto;
    }
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 40px;

    background-image: url('media/images/Hero background.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 690px;
    padding: 70px 500px 70px 200px;

    h1 {
        color: white;
        font-size: 5rem;
    }

    h4 {
        color: white;
        font-size: 2rem;
    }

    button {
        border-radius: 3rem;
        padding: 1rem 2rem;
        background-color: var(--regular-orange);
        border: solid 3px var(--regular-orange);
        font-size: 1.5rem;
        cursor: pointer;
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 150px 50px 100px 50px;
    background-color: black;

    h1 {
        font-size: 2.1rem;
        color: white;
    }

    label,
    span {
        text-align: left;
        color: #a0a0a0;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        * {
            width: 100%;
        }

        div {
            margin-bottom: 20px;
        }

        div:not(:last-of-type) {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: flex-start;
            gap: 3px;
        }

        .news-confirmation {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            margin-bottom: 30px;
            gap: 10px;
        }

        input {
            padding: 10px 10px;
            font-size: 1rem;
        }

        input[type="checkbox"] {
            width: 20px;
            height: 20px;
        }

        button {
            margin-bottom: 30px;
            border-radius: 3rem;
            padding: .5rem 2rem;
            background-color: var(--regular-orange);
            border: solid 3px var(--regular-orange);
            font-size: 1rem;
        }

        span {
            margin-bottom: 20px;
            text-align: center;

            span {
                color: var(--regular-orange);
                cursor: pointer;
                transition: color 0.3s ease-in-out;
            }

            span:hover {
                color: white;
            }
        }
    }
    p {
        color: #a0a0a0;
        font-size: .8rem;

        span {
            color: var(--regular-orange);
            cursor: pointer;
            transition: color 0.3s ease-in-out;
            text-decoration: underline;
        }

        span:hover {
            color: white;
        }
    }
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 50px 100px 50px;
    background-color: black;

    h1 {
        font-size: 2.1rem;
        color: white;
    }

    h4 {
        color: #a0a0a0;
        span {
            color: var(--regular-orange);
            cursor: pointer;
            transition: color 0.3s ease-in-out;
        }

        span:hover {
            color: white;
        }
    }

    label,
    span {
        text-align: left;
        color: #a0a0a0;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        * {
            width: 100%;
        }

        .login-div {
            div {
                margin-bottom: 20px;
            }

            div:not(:last-of-type) {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: flex-start;
                gap: 3px;
            }

            div:last-of-type {
                margin-bottom: 30px;
            }

            :last-child {
                margin-bottom: 20px;
            }
        }

        input {
            padding: 10px 10px;
            font-size: 1rem;
        }

        button {
            margin-bottom: 30px;
            border-radius: 3rem;
            padding: .5rem 2rem;
            background-color: var(--regular-orange);
            border: solid 3px var(--regular-orange);
            font-size: 1rem;
        }

        h4 {
            margin-bottom: 20px;
            text-align: center;

            span {
                color: var(--regular-orange);
                cursor: pointer;
                transition: color 0.3s ease-in-out;
            }

            span:hover {
                color: white;
            }
        }
    }
    p {
        color: #a0a0a0;
        font-size: .8rem;

        span {
            color: var(--regular-orange);
            cursor: pointer;
            transition: color 0.3s ease-in-out;
            text-decoration: underline;
        }

        span:hover {
            color: white;
        }
    }
}

.profiles-container {
    width: 100%;
    height: 100%;
    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #a0a0a0;
    gap: 100px;

    h1 {
        color: white;
        font-size: 2.2rem;
    }

    .profiles-cards-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
        text-align: center;

        img {
            width: 100px;
            height: auto;
            border-radius: 50%;
            border: solid 3px #a0a0a0;
            cursor: pointer;
        }

        > img:last-child {
            transform: rotate(90deg);
            filter: grayscale(100%);
        }
    }

    .manage-profiles-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        button {
            font-size: 1rem;
            color: #a0a0a0;
            background-color: unset;
            padding: 10px 50px;
            cursor: pointer;
        }

        button:first-child {
            color: #a0a0a0;
            border: 3px solid #a0a0a0;
        }

        button:last-child {
            color: #a0a0a0;
            border: unset;
        }
    }
}

.home-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0, .8);
    height: 60px;

    .home-nav-left {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        margin-left: 20px;

        > img {
            width: 12%;
            height: auto;
        }

        button {
            border: unset;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            cursor: pointer;
            color: #a0a0a0;
            font-size: 1rem;
        }

        span {
            color: #a0a0a0;
        }
    }

    .home-nav-right {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
        margin-right: 20px;

        img {
            width: 90%;
            height: auto;
            border-radius: 50%;
            cursor: pointer;
        }

        div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }
}

.home-hero-container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url("media/images/spy family background.webp");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;

    > img:first-child {
        width: 5%;
        height: auto;
        cursor: pointer;
    }

    > img:last-child {
        width: 5%;
        height: auto;
        cursor: pointer;
    }

    .anime-info-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 20px;

        h4 {
            color: #919191;
        }

        p {
            color: #a0a0a0;
            width: 30%;
        }

        div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;

            > button {
                font-size: 1.2rem;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 7px 30px;
                background-color: var(--regular-orange);
                border: 3px solid var(--regular-orange);
                cursor: pointer;

                img {
                    width: 35px;
                    filter: grayscale(100%) brightness(0%);
                }
            }

            > img {
                width: 30px;
                border: solid 3px var(--regular-orange);
                padding: 10px 10px;
                cursor: pointer;
                filter: brightness(0) saturate(100%) invert(43%) sepia(96%) saturate(3734%) hue-rotate(1deg) brightness(103%) contrast(105%);
            }
        }
    }
}

.carousel-container {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: black;

    .carousel {
        width: 200vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        gap: 30px;
        margin-top: 50px;

        h2 {
            font-size: 2rem;
            color: white
        }

        > div {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: start;
            gap: 20px;
            width: 100%;
            overflow: scroll;
            ::-webkit-scrollbar {
                display: none;
                width: 0;
            }

            scrollbar-width: none;


            .anime-card-container {

                img {
                    width: 250px;
                    height: auto;
                    margin-bottom: 10px;
                }

                h4:first-of-type {
                    font-size: 0.9rem;
                    color: white;
                    margin-bottom: 10px;
                }

                h4:last-child {
                    font-size: 0.9rem;
                    color: #a0a0a0;
                }
            }
        }
    }
}
